{
    # Global options block.
    # The email address is used for TLS certificate registration with Let's Encrypt.
    email ${EMAIL}

    # Uncomment to set debug mode if needed:
    debug
}


logs.${DOMAIN_ROOT} {
    reverse_proxy grafana:3000
    
    # Basic Authentication
    basic_auth / {
        admin {$BASIC_AUTH_PASSWORD}
    }

    # Remove identifying headers from the response
    header {
        -Server
        -X-Powered-By
        -X-Grafana-Prod  # If Grafana happens to send any custom identifying headers.
    }
    
    # Enable automatic HTTPS (default behavior) and force TLS protocols.
    tls internal

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }

    # Security Headers
    header {
        X-Content-Type-Options "nosniff"
    }

    # Logging
    log {
        output file /var/log/caddy/grafana_access.log {
            roll_size 10mb
            roll_keep 5
            roll_keep_for 720h
        }
    }
}
